.NewComment .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.NewComment .header .btn-new {
    align-self: center;
    background: #007bff;
    border: 1px solid #007bff;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.NewComment .header .title{
    color: #AAA;
    font-size: 35px;
    line-height: 35px;
    font-weight: 500;
}

.NewComment .content .input-group{
    padding: 10px;
}
.NewComment .content .input-group .label{
    display: block;
}

.NewComment .content .input-group .input{
    margin-top: 8px;
    width: 100%;
    padding: 6px 0 6px 2px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    border: 2px solid #DDD;
    outline: none;
}

.NewComment .content .input-group textarea{
    height: 100px;
}